# Scraping.
requests==2.23.0
selenium==3.141.0
beautifulsoup4==4.8.2
lxml==4.6.2

# Highlight the best score.
pandas==1.0.3
Jinja2==2.11.2
premailer==3.6.1

# Convert markdown files to notebooks.
jupytext==1.4.0

# Display progress.
tqdm==4.43.0
